* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
}

a {
	margin: 5px;
	text-decoration: none;
	color: lightblue;
}

.host-register {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input {
	outline: none;
	width: 200px;
}

button {
	cursor: pointer;
}
